{% extends "base.html.twig" %}

{% block title %}
    Race result uploader
{% endblock %}

{% block body %}

    <div class="mt-10 max-w-md mx-auto">
        <a href="/upload" class="flex items-center justify-center text-white border border-gray-400 text-lg py-2 px-2 rounded bg-gray-700">Click to open upload form</a>
    </div>

{% endblock %}
